.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.908203;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.908203;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:14.928000px;}
._2{width:43.728000px;}
._0{width:73.680000px;}
._3{width:638.440000px;}
.fc0{color:rgb(0,0,0);}
.fs2{font-size:36.000000px;}
.fs1{font-size:40.000000px;}
.fs3{font-size:44.000000px;}
.fs0{font-size:48.000000px;}
.y1{bottom:4.400047px;}
.y1e{bottom:15.764999px;}
.y2{bottom:16.394999px;}
.y1d{bottom:27.263998px;}
.y1b{bottom:198.356005px;}
.y1a{bottom:210.288016px;}
.y19{bottom:223.870003px;}
.y18{bottom:299.981040px;}
.y17{bottom:313.780021px;}
.y16{bottom:340.729031px;}
.y15{bottom:351.727012px;}
.y14{bottom:365.526023px;}
.y13{bottom:392.691027px;}
.y12{bottom:404.623038px;}
.y11{bottom:418.422019px;}
.y10{bottom:473.618033px;}
.yf{bottom:501.216038px;}
.ye{bottom:515.015037px;}
.yd{bottom:528.814030px;}
.yc{bottom:542.613029px;}
.yb{bottom:570.211020px;}
.ya{bottom:611.175020px;}
.y9{bottom:623.107032px;}
.y8{bottom:678.303031px;}
.y7{bottom:692.102027px;}
.y6{bottom:705.901023px;}
.y5{bottom:719.700026px;}
.y4{bottom:733.499027px;}
.y3{bottom:747.298026px;}
.y0{bottom:772.500000px;}
.y1c{bottom:772.800026px;}
.h6{height:24.996094px;}
.h2{height:27.598000px;}
.h5{height:27.773438px;}
.h7{height:29.820312px;}
.h4{height:32.531250px;}
.h3{height:33.328125px;}
.h8{height:36.599998px;}
.h1{height:44.500000px;}
.h0{height:841.900024px;}
.w4{width:175.899994px;}
.w3{width:220.149994px;}
.w1{width:521.000000px;}
.w2{width:595.299976px;}
.w0{width:595.299988px;}
.x1{left:0.000000px;}
.xb{left:15.596000px;}
.x7{left:25.526000px;}
.xa{left:28.111001px;}
.x0{left:51.000000px;}
.x2{left:56.700001px;}
.x8{left:82.270003px;}
.x6{left:92.150002px;}
.x4{left:211.953999px;}
.x5{left:240.819004px;}
.x3{left:326.050007px;}
.x9{left:396.150005px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:19.904000pt;}
._2{width:58.304000pt;}
._0{width:98.240000pt;}
._3{width:851.253333pt;}
.fs2{font-size:48.000000pt;}
.fs1{font-size:53.333333pt;}
.fs3{font-size:58.666667pt;}
.fs0{font-size:64.000000pt;}
.y1{bottom:5.866730pt;}
.y1e{bottom:21.019999pt;}
.y2{bottom:21.859999pt;}
.y1d{bottom:36.351997pt;}
.y1b{bottom:264.474673pt;}
.y1a{bottom:280.384022pt;}
.y19{bottom:298.493337pt;}
.y18{bottom:399.974720pt;}
.y17{bottom:418.373361pt;}
.y16{bottom:454.305374pt;}
.y15{bottom:468.969349pt;}
.y14{bottom:487.368031pt;}
.y13{bottom:523.588036pt;}
.y12{bottom:539.497384pt;}
.y11{bottom:557.896025pt;}
.y10{bottom:631.490711pt;}
.yf{bottom:668.288050pt;}
.ye{bottom:686.686715pt;}
.yd{bottom:705.085373pt;}
.yc{bottom:723.484038pt;}
.yb{bottom:760.281361pt;}
.ya{bottom:814.900027pt;}
.y9{bottom:830.809376pt;}
.y8{bottom:904.404041pt;}
.y7{bottom:922.802703pt;}
.y6{bottom:941.201364pt;}
.y5{bottom:959.600035pt;}
.y4{bottom:977.998703pt;}
.y3{bottom:996.397368pt;}
.y0{bottom:1030.000000pt;}
.y1c{bottom:1030.400035pt;}
.h6{height:33.328125pt;}
.h2{height:36.797333pt;}
.h5{height:37.031250pt;}
.h7{height:39.760417pt;}
.h4{height:43.375000pt;}
.h3{height:44.437500pt;}
.h8{height:48.799998pt;}
.h1{height:59.333333pt;}
.h0{height:1122.533366pt;}
.w4{width:234.533325pt;}
.w3{width:293.533325pt;}
.w1{width:694.666667pt;}
.w2{width:793.733302pt;}
.w0{width:793.733317pt;}
.x1{left:0.000000pt;}
.xb{left:20.794667pt;}
.x7{left:34.034666pt;}
.xa{left:37.481334pt;}
.x0{left:68.000000pt;}
.x2{left:75.600001pt;}
.x8{left:109.693337pt;}
.x6{left:122.866669pt;}
.x4{left:282.605331pt;}
.x5{left:321.092005pt;}
.x3{left:434.733342pt;}
.x9{left:528.200007pt;}
}
